<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.veve.flowreader">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_flowbook_pink"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_icon_flowbook_pink"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.PrintActivity"
            android:label="@string/title_activity_print"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".views.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.BrowseFilesActivity"
            android:label="@string/title_activity_browse_files"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.GetBookActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.djvu" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\.djvu" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.djvu" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\.djvu" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.pdf" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\.pdf" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.pdf" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\.pdf" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="file" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.djvu" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\.djvu" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.djvu" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\.djvu" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.djvu" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.pdf" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\.pdf" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.pdf" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\.pdf" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="content" />
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pdf" android:scheme="content" />
            </intent-filter>
        </activity>
    </application>

</manifest>